.text{
    font-size: 0.14rem;
    color: #3C3C3C;
    letter-spacing: -0.0034rem;
    .lg,&.lg{
        font-size: 0.16rem;
        letter-spacing: -0.0039rem;
    }
    .gray,&.gray{
        color: #A6A6A6;
    }
    .red,&.red{
        color: #C61A2A;
    }
    .brown,&.brown{
        color: #B79E74;
    }
    .bold,&.bold{
        font-weight: bold;
    }
}