@theme-color: rgb(245, 174, 22);
@header-background-color: #1A1A1F;
@header-title-color: #fff;
@header-text-color: #fff;
@header-arrow-color: #fff;
@tabbar-text-active-color: @theme-color;
@tab-text-disabled-color: #ddd;
@tab-text-default-color: #666;
@tab-bar-active-color: @theme-color;
@weuiBtnDefaultBg:#B79E74;
@weuiBtnDefaultFontColor:#FFFFFF;
@weuiGridBorderColor:transparent;
@check-icon-color-checked:#B79E74;
@number-button-font-color:#B79E74;
@tab-text-active-color:#B79E74;
@cell-label-color: #000;
@cell-font-size: 14px;
@cell-tips-font-size: 14px;
@cell-default-arrow-color: #C8C8CD;
@cell-disabled-arrow-color: #e2e2e2;
@cell-default-arrow-border-width: 2px;
@cell-default-arrow-width: 6px;
@cell-value-color: #A6A6A6;
@cell-placeholder-color: #999;
